{
  "databaseFile": "TRTL.db",
  "logLevel": 2,
  "botToken": "",
  "botPrefix": ".",
  "botMessageCache": 100,
  "coinName": "Chimera",
  "coinSymbol": "CMRA",
  "coinUnits": 100,
  "coinAddressLength": 99,
  "coinAddressPrefix": "cmra",
  "tipFee": 1,
  "tipMixin": 0,
  "tipSuccessReact": "💸",
  "tipFailedReact": "🆘",
  "tipLowBalanceReact": "❌",
  "tipJoinReact": ":tip:",
  "tipCustomReacts": {
    ":kev:": 99.5,
    ":99:": 99,
    "🍆": 1234.56
  },
  "faucetHost": "",
  "faucetEndpoint": "",
  "faucetAddress": "",
  "marketSource": "",
  "marketEndpoint": "",
  "marketBTCEndpoint": "",
  "marketDisallowedServers": [
    388915017187328002
  ],
  "daemonHost": "127.0.0.1",
  "daemonPort": 11246,
  "walletHost": "127.0.0.1",
  "walletPort": 8070,
  "walletRpcPassword": "12345",
  "walletUpdateDelay": 500
}
